@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #ffffff);
}

.inner-box{
    width: 380px;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 40px;
    border-radius: 8px;
    background:linear-gradient(to top left, #ffffff, #ffffff33);
    backdrop-filter: blur(8px);
    box-shadow: 2px 2px 5px #3498db;
    z-index: 2;
}

.signup-header{
    font-size: 1.25em;
    color: black;
    margin-left: 5px;
}

.signup-header p{
    font-size: 0.70em;
    color: #555;
}

.signup-body{
    margin: 10px 0;
    margin-left: 5px;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    height: 35px;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    margin-top: 4px;
}

.signup-body p input[type = "submit"]{
    background-color: #3498db;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: white;
    font-size: 0.9rem;
}

.signup-body p input[type = "submit"]:hover{
    background-color: #1e5880
}


.signup-footer p{
    margin-left: 5px;
    color: #555;
    text-align: center;
}

.signup-footer p a{
    text-decoration: none;
    color: #3498db;
}

.circle{
    height: 200px;
    width: 200px;
    background: linear-gradient(to top right, #ffff3333, #ffffff);
    border-radius: 100px;
    position: absolute;
}

.c1{
    top:150px;
    left:40px;
}

.c2{
    bottom: 120px;
    right:50px;
}


/* Show/Hide Password */
.password-container{
    position: relative;
}


.show-hide{
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: #6e6e6e;
    font-size: 0.9rem;
}

.show-hide:hover{
    text-decoration: underline;
    cursor: pointer;
}


/* Modal */

dialog{
    position: absolute;
    margin: auto;
    border: 2px solid #b1b1b1cc ;
    opacity: 0.9;
}


.modal{
    height: 200px;
    width: 420px;
}

dialog::backdrop{
   backdrop-filter: blur(5px);
}

.modal .check-mark{
    height: 100px;
    width: 100px;
    margin-inline-start: 38%;
    margin-block: 10px;
}

.modal .cross-mark{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

.modal .cross-mark:active{
    border: 2px solid red;
}

.modal .cross-mark:hover{
    cursor: pointer;
}

.modal h3{
   text-align: center;
}